{% extends "committees/base.html" %}
{% block page-class %}gov{% endblock %}
{% block title %}{{object}} at {% endblock %}

{% block content %}
{% load humanize markup typogrify %}
  <div class="grid_12 page">
    <h2>Governance</h2>
    <ul class="governance subnav {{object.slug}}">
        <li class="board">Governing board</li>
        <li class="comm">Committees</li>
        <li class="meet">Meetings</li>
        <li class="min">Minutes</li>
    </ul>
  </div>

  {% if object %}
  <h3>{{object}}</h3>
  {{object.description|typogrify|markdown}}
  {% if members or object.members %}
  <h3>Members</h3>
  <ul class="board">
    {% if object.current_terms %}
    {% for t in object.current_terms %}
    <li>{% if t.alternate %}<span class="alt">Alt.</span> {% endif %}{{t.office.title}}<a href="{{t.get_absolute_url}}"> {{t.person}}</a> {{m.start_date|date:"Y"}}</li>
    {% endfor %}
    {% endif %}
    {% if object.members.all %}
    {% for p in object.members.all %}
    <li>{% if p.email %}<a href="mailto:{{p.email}}">{% endif %}{{p}}{% if p.email %}</a>{% endif %}</li>
    {% endfor %}
    {% endif %}
  </ul>
  {% endif %}
  {% endif %}
{% endblock %}

